/* ATRIBUTOS GENERALES */ /* ATRIBUTOS GENERALES */ /* ATRIBUTOS GENERALES */
* {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: Georgia, Helvetica;
    color: #fff;
}
p {
    font-family: 'Lucida Sans', Arial;
    color: #444;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #334;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

form {
    background-color: white;
}
/* ATRIBUTOS GENERALES */ /* ATRIBUTOS GENERALES */ /* ATRIBUTOS GENERALES */


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* ATRIBUTOS DE HEADER */ /* ATRIBUTOS DE HEADER */ /* ATRIBUTOS DE HEADER */
header {
    background-image: url(../assets/img/backg.jpg);
    background-size: cover;
    background-position: top;
    border: solid black 2px;
    border-radius: 10px;
    width: 100%;
    height: 100px;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h-logo {
    flex: 0 0 auto;
    margin: 20px;
    background-color: #fff6;
}

.h-title {
    flex: 1 1 auto;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    color: #ccc;
    text-shadow: 3px 3px 3px #aaf;
}

.h-nav {
    flex: 0 0 auto;
    margin: 20px;
}
.h-nav>li {
    display: inline-block;
    margin: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: #aaa8;
}
/* ATRIBUTOS DE HEADER */ /* ATRIBUTOS DE HEADER */ /* ATRIBUTOS DE HEADER */


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* ATRIBUTOS DE MAIN */ /* ATRIBUTOS DE MAIN */ /* ATRIBUTOS DE MAIN */
main {
    display: flex;
    /* flex: 1 1 auto; */
    /* background-color: #ec8f8f; */
    /* border: solid black 2px; */
    border-radius: 10px;
    margin: 10px auto;
}

.main-content {
    width: 3fr;
    display: grid;
    grid-template: 50% 50% / 50% 50%;
    grid-template-areas: "content1 content1" "content2 content3";
    border-radius: 10px;
}
.content1 {
    grid-area: content1;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-image: url(../assets/img/musica-relajante.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 10px #111;
}
.content2 {
    grid-area: content2;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-image: url(../assets/img/tierra.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 10px #111;
}
.content3 {
    grid-area: content3;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px #111;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 1fr;
    padding: 0 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.side1 {
    background-color: #aaa;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px #111;
}
.side2 {
    background-color: #aaa;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px #111;
}
/* ATRIBUTOS DE MAIN */ /* ATRIBUTOS DE MAIN */ /* ATRIBUTOS DE MAIN */


/*-------------------------------------------------------------------------------------------------------------------------------*/


/* ATRIBUTOS DE FOOTER */ /* ATRIBUTOS DE FOOTER */ /* ATRIBUTOS DE FOOTER */
footer {
    background-image: url(../assets/img/backg.jpg);
    background-size: cover;
    background-position: bottom;
    border: solid black 2px;
    border-radius: 10px;
    width: 100%;
    height: 80px;
    margin-top: auto;
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-flex>div {
    display: flex;
    align-items: center;
    margin: auto 20px;
}

.f-seguinos{
    margin: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: #aaa8;
}

.f-instagram {
    /* border: solid black 1px; */
    margin: auto 20px;
    /* background-color: #aaa; */
}

.f-x {
    /* border: solid black 1px; */
    margin: auto 20px;
    /* background-color: #aaa; */
}

.f-condiciones {
    margin: 5px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: #aaa8;
}
/* ATRIBUTOS DE FOOTER */ /* ATRIBUTOS DE FOOTER */ /* ATRIBUTOS DE FOOTER */


/*-------------------------------------------------------------------------------------------------------------------------------*/
/*FORMULARIO SUSCRIPCION*/
.form_Suscribete {
    display:grid;
    background-color: rgba(151, 148, 187, 0.5); 
    box-shadow: 0 0 10px rgba(219, 215, 215, 0.5);
    padding: 2px 5px;
    border-radius: 2%;
}

.boton_Suscripcion{
    font-size: 2rem;
    border-radius: 6%;
}

.boton_Suscripcion:hover {
    color: #ccc;
    text-shadow: 3px 3px 3px #aaf;
    font-size: 2rem;
    background-image: url(../assets/img/backg.jpg);
}

.form_Suscribete input {
    background-color: rgb(187, 183, 209);
}
.form_Suscribete select{
    background-color: rgb(187, 183, 209);
}
/*-------------------------------------------------------------------------------------------------------------------------------*/



/* DISEÑO RESPONSIVO */ /* DISEÑO RESPONSIVO */ /* DISEÑO RESPONSIVO */
@media (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .main-content {
        display: grid;
        grid-template: 1fr 1fr 1fr / 100%;
        grid-template-areas: "content1" "content2" "content3";
    }
}

@media (min-width: 601px) and (max-width: 1020px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .side-bar {
        display: flex;
        flex-direction: row;
    }
}
/* DISEÑO RESPONSIVO */ /* DISEÑO RESPONSIVO */ /* DISEÑO RESPONSIVO */

